html, body {
    height: 100%;
}

.container {
    position: relative;
    top: 50%;
    transform: translateY(-100%);
    text-align: center;
}

#loaded {
    display: none;
}

#loading {
    z-index: 10;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}
