html, body {
    height: 100%;
    background: rgb(164,3,111);
    background: linear-gradient(90deg, rgba(164,3,111,1) 0%, rgba(4,139,168,1) 35%, rgba(22,219,147,1) 100%);
}
h1 {
    padding-top: 1em;
}
#crud-container {
    text-align: center;
}

#container {
    text-align: center;
    margin: auto;
    /*background-color: black;*/
    color: #F29E4C;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 300px;
}
.loading1{
    margin: auto;
}
.loading2{
    margin: auto;
}
ul {
    list-style-type: none;
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    margin: 1em auto;
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
}

/* Style the back side */
.flip-card-back {
    background-color: #efea5a;
    color: black;
    transform: rotateY(180deg);
}

@keyframes ldio-ioww6g0mvq {
    0% { opacity: 1 }
    100% { opacity: 0 }
}
.ldio-ioww6g0mvq div {
    left: 94px;
    top: 48px;
    position: absolute;
    animation: ldio-ioww6g0mvq linear 1s infinite;
    background: #a4036f;
    width: 12px;
    height: 24px;
    border-radius: 6px / 12px;
    transform-origin: 6px 52px;
}.ldio-ioww6g0mvq div:nth-child(1) {
     transform: rotate(0deg);
     animation-delay: -0.9166666666666666s;
     background: #a4036f;
 }.ldio-ioww6g0mvq div:nth-child(2) {
      transform: rotate(30deg);
      animation-delay: -0.8333333333333334s;
      background: #048ba8;
  }.ldio-ioww6g0mvq div:nth-child(3) {
       transform: rotate(60deg);
       animation-delay: -0.75s;
       background: #16db93;
   }.ldio-ioww6g0mvq div:nth-child(4) {
        transform: rotate(90deg);
        animation-delay: -0.6666666666666666s;
        background: #efea5a;
    }.ldio-ioww6g0mvq div:nth-child(5) {
         transform: rotate(120deg);
         animation-delay: -0.5833333333333334s;
         background: #f29e4c;
     }.ldio-ioww6g0mvq div:nth-child(6) {
          transform: rotate(150deg);
          animation-delay: -0.5s;
          background: #a4036f;
      }.ldio-ioww6g0mvq div:nth-child(7) {
           transform: rotate(180deg);
           animation-delay: -0.4166666666666667s;
           background: #048ba8;
       }.ldio-ioww6g0mvq div:nth-child(8) {
            transform: rotate(210deg);
            animation-delay: -0.3333333333333333s;
            background: #16db93;
        }.ldio-ioww6g0mvq div:nth-child(9) {
             transform: rotate(240deg);
             animation-delay: -0.25s;
             background: #efea5a;
         }.ldio-ioww6g0mvq div:nth-child(10) {
              transform: rotate(270deg);
              animation-delay: -0.16666666666666666s;
              background: #f29e4c;
          }.ldio-ioww6g0mvq div:nth-child(11) {
               transform: rotate(300deg);
               animation-delay: -0.08333333333333333s;
               background: #a4036f;
           }.ldio-ioww6g0mvq div:nth-child(12) {
                transform: rotate(330deg);
                animation-delay: 0s;
                background: #048ba8;
            }
.loadingio-spinner-spinner-ib6rz94n49a {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
}
.ldio-ioww6g0mvq {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-ioww6g0mvq div { box-sizing: content-box; }
/* generated by https://loading.io/ */
